work/
data/c80i70/
*merged2.c100i100.hmmscan.my_models.out
merged2.c100i100.hmmscan.my_models.out
data/bastion_models/
data/mymodels/first_db/Sal_models 
data/*c100i100*
data/genomas_bao/
data/*merged.faa
data/links
.DS_Store  
*.hmmscan.out
data/cgrc.tsv 

data/genome.pkl
data/merged2.c100i100.fa
data/merged.faa
data/merged.faa.ssi
data/mergednrdb_rep.faa
data/source1.py  
data/source2.py
